<header>
    <nav>
        <ul class="nav-container">
            <li><a href="/home">Home</a></li>
        </ul>
    </nav>
    <div class="search">
        <form action="/search" method="get">
            <input class="search-input" type="text" name="query" placeholder="Введите запрос">
            <input type="submit" class="submit-button" value="Поиск">
        </form>
    </div>
</header>