<header>
    <nav>
        <ul class="nav-container">
            <li><a href="/home">Главная</a></li>
            <li><a href="/deleted">Удаленные</a></li>
        </ul>
    </nav>
    <div class="search">
        <form action="/home" method="get">
            <input class="search-input" type="text" name="developmentServiceName" placeholder="Введите запрос" value="{{.searchName}}">
            <input type="submit" class="submit-button" value="Поиск">
        </form>
    </div>
</header>