<html lang="en">

<head>
    <link href="/styles/index.css" rel="stylesheet" type="text/css">
    <link href="/styles/header.css" rel="stylesheet" type="text/css">
    <link href="/styles/product-card.css" rel="stylesheet" type="text/css">
</head>

{{template "header.gohtml" .}}

<body>
    <div class="many-cards">
        {{ range $index, $person := .pipeline }}
            {{template "product-card.gohtml" .}}
        {{ end }}
    </div>
</body>
</html>