body {
    background-color: #2D384A;
    margin: 0px;
    padding: 0px;
}

.many-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
